flows/DonateQA.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>One_Off_Pledged_Form_Submission2</name>
        <label>One-Off Pledged Form Submission</label>
        <locationX>1126</locationX>
        <locationY>79</locationY>
        <actionName>npsp_plus__OneOffPledgedFormSubmissionFlowMethod</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Redirect</targetReference>
        </connector>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Donate_URL</assignToReference>
            <name>donateURL</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>1126</locationX>
        <locationY>325</locationY>
        <actionName>c:RedirectToURL</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>Donate_URL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Get_Last_Gift_Amount</name>
        <label>Get Last Gift Amount</label>
        <locationX>412</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>DisplayGiftAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisplayAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Donate_Now</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>DisplayAmount</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Contact.npo02__LastOppAmount__c} &gt; 0, &quot;$&quot; + TEXT({!Get_Contact.npo02__LastOppAmount__c}) + &quot; on &quot; + TEXT(DAY({!Get_Contact.npo02__LastCloseDate__c})) + &quot; &quot; +
CASE(MONTH({!Get_Contact.npo02__LastCloseDate__c}), 1, &quot;January&quot;, 2, &quot;February&quot;, 3, &quot;March&quot;, 4, &quot;April&quot;, 5, &quot;May&quot;, 6, &quot;June&quot;, 7, &quot;July&quot;, 8, &quot;August&quot;, 9, &quot;September&quot;, 10, &quot;October&quot;, 11, &quot;November&quot;, &quot;December&quot;) + &quot; &quot; + TEXT(YEAR({!Get_Contact.npo02__LastCloseDate__c}))
, &quot;&lt;none&gt;&quot;)</expression>
    </formulas>
    <interviewLabel>DonateQA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DonateQA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Donation</name>
        <label>Create Donation</label>
        <locationX>959</locationX>
        <locationY>73</locationY>
        <assignRecordIdToReference>OpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>One_Off_Pledged_Form_Submission2</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>DonationOpportunityRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>210</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Gift_Amount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Donation_Record_Type</name>
        <label>Get Opportunity Donation Record Type</label>
        <locationX>772</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Donation</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <filters>
            <field>NamespacePrefix</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>npsp_plus_dres</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>DonationOpportunityRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Donate_Now</name>
        <label>Donate Now</label>
        <locationX>589</locationX>
        <locationY>62</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opportunity_Donation_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Intro</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Enter the donation details and click Next&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details</name>
            <fieldText>&lt;p&gt;Name: {!Get_Contact.Name}&lt;/p&gt;&lt;p&gt;Email: {!Get_Contact.Email}&lt;/p&gt;&lt;p&gt;Phone: {!Get_Contact.Phone}&lt;/p&gt;&lt;p&gt;Mobile: {!Get_Contact.MobilePhone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LastDonation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Last Donation: {!DisplayGiftAmount} on {!Get_Contact.npo02__LastCloseDate__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Contact.npo02__LastOppAmount__c</elementReference>
            </defaultValue>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Amount must be greater than 0.00&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Amount}&gt; 0.00</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>DisplayGiftAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Donate_URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DonationOpportunityRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
