flows/Donate_Org.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>One_Off_Pledged_Form_Submission</name>
        <label>One-Off Pledged Form Submission</label>
        <locationX>286</locationX>
        <locationY>625</locationY>
        <actionName>npsp_plus__OneOffPledgedFormSubmissionFlowMethod</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Redirect</targetReference>
        </connector>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>PrimaryContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Donate_URL</assignToReference>
            <name>donateURL</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>516</locationX>
        <locationY>626</locationY>
        <actionName>c:RedirectToURL</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>Donate_URL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Get_Last_Gift_Amount</name>
        <label>Get Last Gift Amount</label>
        <locationX>941</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>DisplayGiftAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisplayAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Primary_Contact_from_Org</name>
        <label>Primary Contact from Org</label>
        <locationX>626</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>PrimaryContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Organisation.npe01__One2OneContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoContactSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Contact Selected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_Primary</name>
        <label>Set Selected Primary</label>
        <locationX>1346</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>PrimaryContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Organisation_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Selected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Selected</name>
        <label>Contact Selected?</label>
        <locationX>1214</locationX>
        <locationY>459</locationY>
        <defaultConnector>
            <targetReference>No_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact</defaultConnectorLabel>
        <rules>
            <name>Contact_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Last_Gift_Amount</targetReference>
            </connector>
            <label>Contact Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary_Contact</name>
        <label>Is Primary Contact?</label>
        <locationX>370</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Select_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary Contact</defaultConnectorLabel>
        <rules>
            <name>Primary_Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organisation.npe01__One2OneContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Contact_from_Org</targetReference>
            </connector>
            <label>Primary Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Org_Has_Contacts</name>
        <label>Org Has Contacts?</label>
        <locationX>95</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Is_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Org Has Contacts</defaultConnectorLabel>
        <rules>
            <name>No_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrgContactIndicator</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Contact</targetReference>
            </connector>
            <label>No Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Contact</name>
        <label>Which Contact</label>
        <locationX>1214</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Select_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Select Other Contact</defaultConnectorLabel>
        <rules>
            <name>Use_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToggleUseExistingPrimary.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Selected</targetReference>
            </connector>
            <label>Use Primary Contact</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OrgContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>DisplayAmount</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Organisation.npo02__LastOppAmount__c} &gt; 0, &quot;$&quot; + TEXT({!Get_Organisation.npo02__LastOppAmount__c}) + &quot; on &quot; + TEXT(DAY({!Get_Organisation.npo02__LastCloseDate__c})) + &quot; &quot; +
CASE(MONTH({!Get_Organisation.npo02__LastCloseDate__c}), 1, &quot;January&quot;, 2, &quot;February&quot;, 3, &quot;March&quot;, 4, &quot;April&quot;, 5, &quot;May&quot;, 6, &quot;June&quot;, 7, &quot;July&quot;, 8, &quot;August&quot;, 9, &quot;September&quot;, 10, &quot;October&quot;, 11, &quot;November&quot;, &quot;December&quot;) + &quot; &quot; + TEXT(YEAR({!Get_Organisation.npo02__LastCloseDate__c}))
, &quot;&lt;none&gt;&quot;)</expression>
    </formulas>
    <interviewLabel>Donate Org {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Donate Org</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Donation</name>
        <label>Create Donation</label>
        <locationX>286</locationX>
        <locationY>394</locationY>
        <assignRecordIdToReference>OpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>One_Off_Pledged_Form_Submission</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Organisation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>DonationOpportunityRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Related_Contacts</name>
        <label>Get All Related Contacts</label>
        <locationX>98</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Org_Has_Contacts</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>OrgContactIndicator</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>787</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Donate_Now</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Donation_Record_Type</name>
        <label>Get Opportunity Donation Record Type</label>
        <locationX>470</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Donation</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>DonationOpportunityRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Organisation</name>
        <label>Get Organisation</label>
        <locationX>203</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Related_Contacts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>798</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Primary_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PrimaryContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirm_Primary_Contact</name>
        <label>Confirm Primary Contact</label>
        <locationX>1000</locationX>
        <locationY>49</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Contact</targetReference>
        </connector>
        <fields>
            <name>PrimaryExistsIntro</name>
            <fieldText>&lt;p&gt;The Primary Contact for {!Get_Organisation.Name} is {!PrimaryContactName}. The donation receipt will be addressed to this person.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ToggleUseExistingPrimary</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Would you like to use the Primary Contact or choose another one?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Use Existing</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Choose another Contact</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Donate_Now</name>
        <label>Donate Now</label>
        <locationX>625</locationX>
        <locationY>399</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opportunity_Donation_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Intro</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Enter the donation details and click Next&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details</name>
            <fieldText>&lt;p&gt;Organisation Name: {!Get_Organisation.Name}&lt;/p&gt;&lt;p&gt;Contact: {!Get_Contact_Details.Name}&lt;/p&gt;&lt;p&gt;Email: {!Get_Contact_Details.Email}&lt;/p&gt;&lt;p&gt;Phone: {!Get_Organisation.Phone}&lt;/p&gt;&lt;p&gt;Mobile: {!Get_Contact_Details.MobilePhone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LastDonation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Last Donation: {!DisplayGiftAmount}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Organisation.npo02__LastOppAmount__c</elementReference>
            </defaultValue>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Amount must be greater than 0.00&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Amount}&gt; 0.00</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Contact</name>
        <label>No Contact</label>
        <locationX>95</locationX>
        <locationY>940</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoContactText</name>
            <fieldText>&lt;p&gt;No Contact has been selected. Please exit and create a new Contact related to the Organisation&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Contact</name>
        <label>Select Contact</label>
        <locationX>1053</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Selected_Primary</targetReference>
        </connector>
        <fields>
            <name>Organisation_Contacts</name>
            <choiceReferences>OrgContacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Organisation Contacts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Organisation</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>DisplayGiftAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Donate_URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DonationOpportunityRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoContactSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrgContactIndicator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PrimaryContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
